.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
}

.logo {
  font-size: 1.5em;
}

.profile {
  font-size: 1em;
}
